$green: #489323;
$light-green: #78cb4e;
$gradient: rgb(120,203,78);
$gradient-light: rgb(53,114,36);
$linear-gradient: linear-gradient(90deg, rgba(120,203,78,1) 0%, rgba(72,147,35,1) 100%);
$linear-gradient-light: linear-gradient(90deg, rgba(53,114,36,1) 0%, rgba(72,147,35,1) 100%);
